* {
    /* font-family: 'Montserrat', sans-serif !important; */
    /* font-family: 'Cormorant', serif !important; */
    font-family: 'Roboto', sans-serif !important;
}

html {
    width: 70%;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    font-size: 16px;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    min-height: 100%;
    line-height: 1.75;
    background-color: #FFFFFF;
}
a:link:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: underline;
    cursor: pointer;
    cursor: hand;
}
input[type=submit], button {
    cursor: pointer;
    cursor: hand;
}
@media(max-width: 900px) {
    html {
        font-size: 14px !important;
        width: 80% !important;
    }
}
@media(max-width: 480px) {
    html {
        font-size: 12px !important;
        width: 90% !important;
    }
}
@media(max-width: 320px) {
    html {
        font-size: 12px !important;
        width: 100% !important;
    }
}

.typewriter h1{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    border-right: 0.1em solid black;
    border-right-width: 0.05em;
    border-right-style: solid;
    border-right-color: black;
    white-space: nowrap;
    letter-spacing: 0.05em;
    animation: typing 1.75s steps(80, end), blink 0.4s step-end infinite;
    animation-duration: 1.75s, 0.75s;
    animation-timing-function: steps(80), step-end;
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, normal;
    animation-fill-mode: none, none;
    animation-play-state: running, running;
    animation-name: typing, blink;
}

@keyframes typing{
    from {width:0}
    to {width:100%}
}

@keyframes blink{
    from, to {border-color: transparent}
    50% {border-color: black;}
}

.scrollbar-y{
    position: relative;
    height: 290px;
    overflow: auto;
}

.scroll-y {
    display: block;
}

.viewScrollbar-y{
    position: relative;
    height: 250px;
    overflow: auto;
}

.viewScroll-y {
    display: block;
}

#renameForm {
    display: none;
}
